<div ng-controller="AboutCtrl" ng-init="init()">
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">TierheimDB</a>
      </div>
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
              <li><a href="/">Tiere</a></li>
              <!--<li><a href="/docs">Docs</a></li>-->
              <li class="active"><a href="/about">About</a></li>
          </ul>
      </div>
    </div>
  </div>
  <div class="page-content">
    <div class="container">
      <section>
          <h1>About me</h1>
          <h2>Hi. I'm Daniel Hodan and I made this site.</h2>
          <p>I love animals and programming. I'm software developer for almost a decade and this is my experiment project that software can be done in clear and simple design.</p>
          <p>If you want to contact me, send me an email at <a href="mailto:daniel.hodan@czertbytes.de">daniel.hodan@czertbytes.de</a>. Please consider I'm not German, my prefered languages are English and Czech/Slovak.</p>
      </section>
      <section>
          <h1>About this site</h1>
          <p>I tried to collect data from animal shelters and provide them for free to everyone in formats readable for human and computers. This project is not meant to harm animal shelters rights but truly help them. Provide another channel to popularize animal adoptions and support. Because it's an experiment, sometimes a page might be a total mess or might not work in your browser. Please accept my apologies.</p>
      </section>
    </div>
  </div>
</div>
