<div ng-controller="AnimalDetailCtrl" ng-init="init()">
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">TierheimDB</a>
      </div>
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
              <li><a href="/">Tiere</a></li>
              <!--<li><a href="/docs">Docs</a></li>-->
              <li><a href="/about">About</a></li>
          </ul>
      </div>
    </div>
  </div>
  <div class="page-content">
    <div class="container">
      <h1>{{animal.name}}</h1>
      <p>{{animal.longDesc}}</p>
      <p><a href={{animal.url}} target="_blank">Show {{animal.name}} in shelter page</a></p>
      <div class="row">
        <div id="animal-list">
          <ul>
            <li ng-repeat="img in animal.images">
              <a ng-href="{{img.url}}" style="background-image: url({{img.url}})" target="_blank"><span>{{animal.name}}</span></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <h2>{{shelter.name}}</h2>
        <address>
          <strong>{{shelter.fullName}}</strong><br>
          {{shelter.street}}<br>
          {{shelter.postalCode}} {{shelter.city}}<br>
          Email: <a href="mailto:{{shelter.email}}">{{shelter.email}}</a><br>
          Phone: {{shelter.phone}}
        </address>
      </div>
      <div class="row">
        <div class="footer">
          <small>Animal images and related text are subjects of copyright {{shelter.fullName}}</small>
        </div>
      </div>
    </div>
  </div>
</div>
