<div class="container" ng-init="init()">
  <div class="row">
    <div class="col-lg-12">
      <div class="jumbotron">
        <h1>{{animal.name}}</h1>
        <p>{{animal.longDesc}}</p>
        <p><a class="btn btn-primary" href="{{animal.url}}" target="_blank">Show more</a></p>
        <div id="browser">
          <ul>
            <li ng-repeat="img in animal.images">
              <a ng-href="{{img.url}}" style="background-image: url({{img.url}})" target="_blank"><span>{{animal.name}}</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
