<div>
  <div class="btn-group">
    <label class="btn btn-primary" ng-class="{active: current.type=='cat'}">
      <input type="radio" value="cat" ng-model="current.type">Katzen
    </label>
    <label class="btn btn-primary" ng-class="{active: current.type=='dog'}">
      <input type="radio" value="dog" ng-model="current.type">Hunde
    </label>
    <label class="btn btn-primary" ng-class="{active: current.type=='all'}">
      <input type="radio" value="all" ng-model="current.type">Alle
    </label>
  </div>
</div>
