<div class="container" ng-controller="BrowserCtrl" ng-init="init()">
  <div id="animal-list">
    <ul infinite-scroll="fetchNext()" infinite-scroll-disabled="busy" infinite-scroll-distance="0">
      <li ng-repeat="animal in animals">
        <a ng-href="/{{animal.shelterId}}/{{animal.updateId}}/{{animal.id}}" style="background-image: url('{{animal.images[0].url}}')"><span>{{animal.name}}</span></a>
      </li>
    </ul>
  </div>
  <div id="fadingBarsG" class="busy" ng-show="busy">
    Loading ...
    <div id="fadingBarsG_1" class="fadingBarsG"></div>
    <div id="fadingBarsG_2" class="fadingBarsG"></div>
    <div id="fadingBarsG_3" class="fadingBarsG"></div>
    <div id="fadingBarsG_4" class="fadingBarsG"></div>
    <div id="fadingBarsG_5" class="fadingBarsG"></div>
    <div id="fadingBarsG_6" class="fadingBarsG"></div>
    <div id="fadingBarsG_7" class="fadingBarsG"></div>
    <div id="fadingBarsG_8" class="fadingBarsG"></div>
  </div>
  <div class="row footer">
    <small>Animal images and related text are subjects of copyright {{shelterFullNames()}}</small>
  </div>
</div>
