{{define "page-header"}}
<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TierheimDB &mdash; {{.Title}}</title>
    <meta name="description" content="">
    <meta name="author" content="Daniel Hodan <daniel.hodan@czertbytes.de>">
    <link href="styles.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.png">
  </head>
{{end}}
