*, *:before, *:after {
  -moz-box-sizing: border-box;
  font-family: 'FiraSans';
}

@font-face {
  font-family: 'FiraSans';
  src: url('fonts/FiraSans/FiraSans-Regular.eot');
  src: url('fonts/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/FiraSans-Regular.woff') format('woff'),
  url('fonts/FiraSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FiraSans';
  src: url('fonts/FiraSans-Light.eot');
  src: url('fonts/FiraSans-Light.eot?#iefix') format('embedded-opentype'),
  url('fonts/FiraSans-Light.woff') format('woff'),
  url('fonts/FiraSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'FiraSans';
  src: url('fonts/FiraSans-Medium.eot');
  src: url('fonts/FiraSans-Medium.eot?#iefix') format('embedded-opentype'),
  url('fonts/FiraSans-Medium.woff') format('woff'),
  url('fonts/FiraSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'FiraSans';
  src: url('fonts/FiraSans-Bold.eot');
  src: url('fonts/FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('fonts/FiraSans-Bold.woff') format('woff'),
  url('fonts/FiraSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

#browser {
}

#browser ul {
  list-style: none outside none;
  margin-top: 14px;
}

.shelters ul {
  list-style: none outside none;
}

#browser ul li {
  display: inline-block;
  padding: 0px 2px;
}

#browser ul li a {
  line-height: 1.42857;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(221, 221, 221);
  border-radius: 4px;
  display: block;
  width: 250px;
  height: 250px;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: content-box;
}

#browser ul li a span {
  visibility: hidden;
}

a {
  color: rgb(51, 153, 243);
  text-decoration: none;
}





label > input[type="radio"] {
  display: none;
}

.page-content{
}

.busy {
  text-align: center;
}

.footer {
  text-align: center;
}

