*, *:before, *:after {
  -moz-box-sizing: border-box;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url('fonts/Raleway-Bold.woff') format('woff');
}

a {
  color: rgb(51, 153, 243);
  text-decoration: none;
}

ul {
  list-style: none outside none;
  padding-left: 0;
}

label > input[type="radio"] {
  display: none;
}

#browser {
  line-height: 0;
}

#browser ul {
  margin-top: 14px;
}

#browser ul li {
  display: inline-block;
  padding: 0px 2px;
}

#browser ul li a {
  line-height: 1.42857;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(221, 221, 221);
  border-radius: 4px;
  display: block;
  width: 240px;
  height: 240px;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: content-box;
}

#browser ul li a span {
  visibility: hidden;
}

.page-content{
}

.busy {
  text-align: center;
}

.footer {
  text-align: center;
}

