<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TierheimDB &mdash; Franziskus-Tierheim</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Bowlby+One+SC' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="pure-min.css">
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="pure-g-r" id="layout-with-shelters">
            <div class="pure-u" id="main-nav">
                <a href="#" class="nav-menu-button">Menu</a>
                <div>
                    <h1>TDB</h1>
                    <nav class="pure-menu pure-menu-open">
                        <ul>
                            <li><a class="selected" href="#">Shelters</a></li>
                            <li><a href="#">Mission</a></li>
                            <li><a href="#">About</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="pure-u-1" id="shelters">
                <a href="#" class="pure-g">
                    <section>
                        <div class="pure-u">
                            <img src="bmt-logo.png" alt="Franziskus-Tierheim">
                        </div>
                        <div class="pure-u-3-4">
                            <h4>Franziskus-Tierheim, Bund gegen Missbrauch der Tiere e. V.</h4>
                            <div class="city">Hamburg</div>
                            <div class="offers">Offers <span>18 cats</span>.</div>
                        </div>
                    </section>
                </a>
                <a href="#" class="pure-g">
                    <section class="selected">
                        <div class="pure-u">
                            <img src="tierheim-berlin-logo.jpg" alt="Tierheim Berlin">
                        </div>
                        <div class="pure-u-3-4">
                            <h4>Tierheim Berlin, Tierschutzverein für Berlin und Umgebung Corporation e.V.</h4>
                            <div class="city">Berlin</div>
                            <div class="offers">Offers <span>12 cats</span> and <span>4 dogs</span>.</div>
                        </div>
                    </section>
                </a>
                <a href="#" class="pure-g">
                    <section>
                        <div class="pure-u">
                            <img src="samtpfoten-logo.png" alt="Samtpfoten Neukoelln">
                        </div>
                        <div class="pure-u-3-4">
                            <h4>Samtpfoten Neukölln e.V.</h4>
                            <div class="city">Berlin</div>
                            <div class="offers">Offers <span>41 cats</span> and <span>65 dogs</span>.</div>
                        </div>
                    </section>
                </a>
                <a href="#" class="pure-g">
                    <section>
                        <div class="pure-u">
                            <img src="dresden-logo.gif" alt="Tierheim Dresden">
                        </div>
                        <div class="pure-u-3-4">
                            <h4>Tierheim Dresden</h4>
                            <div class="city">Dresden</div>
                            <div class="offers">Offers <span>1 cat</span> and <span>8 dogs</span>.</div>
                        </div>
                    </section>
                </a>
                <a href="#" class="pure-g">
                    <section>
                        <div class="pure-u">
                            <img src="muenchen-resize-logo.png" alt="Tierheim Muenchen">
                        </div>
                        <div class="pure-u-3-4">
                            <h4>Tierschutzverein München e.V.</h4>
                            <div class="city">Muenchen</div>
                            <div class="offers">Offers <span>1 cat</span> and <span>8 dogs</span>.</div>
                        </div>
                    </section>
                </a>
            </div>
            <article class="pure-u-1" id="content">
                <header>
                    <div class="pure-g">
                        <div class="pure-u-1-2">
                            <h1><a href="http://www.franziskustierheim.de" target="_blank">Franziskus-Tierheim</a></h1>
                            <p>Updated at 14:34, today</p>
                        </div>
                        <div class="pure-u-1-2">
                            <a class="pure-button" href="#">Cats</a>
                            <a class="pure-button" href="#">Dogs</a>
                            <a class="pure-button" href="#">All</a>
                        </div>
                    </div>
                </header>
                <ul>
                    <li><a href="#" style="background-image: url('http://www.samtpfoten-neukoelln.com/wp-content/uploads/2013/08/P1020784.jpg')"><span><span>name</span></span></a></li>
                    <li><a href="#" style="background-image: url('http://www.samtpfoten-neukoelln.com/wp-content/uploads/2013/08/Diabolino.jpg')"><span>name</span></a></li>
                    <li><a href="#" style="background-image: url('http://www.samtpfoten-neukoelln.com/wp-content/uploads/2013/08/P1020785.jpg')"><span>name</span></a></li>
                    <li><a href="#" style="background-image: url('http://www.samtpfoten-neukoelln.com/wp-content/uploads/2013/09/IMG_3810-e1378276258179.jpg')"><span>name</span></a></li>
                    <li><a href="#" style="background-image: url('http://www.samtpfoten-neukoelln.com/wp-content/uploads/2013/09/IMG_3862-e1378276203545.jpg')"><span>name</span></a></li>
                    <li><a href="#" style="background-image: url('http://www.samtpfoten-neukoelln.com/wp-content/uploads/2013/09/IMG_3876-e1378276175241.jpg')"><span>name</span></a></li>
                    <li><a href="#" style="background-image: url('http://www.samtpfoten-neukoelln.com/wp-content/uploads/2013/09/IMG_3847-e1378276234885.jpg')"><span>name</span></a></li>
                    <li><a href="#" style="background-image: url('http://www.samtpfoten-neukoelln.com/wp-content/uploads/2013/06/Lilly.jpg')"><span>name</span></a></li>
                    <li><a href="#" style="background-image: url('http://www.samtpfoten-neukoelln.com/wp-content/uploads/2013/06/Lilly-3-e1372308960703.jpg')"><span>name</span></a></li>
                    <li><a href="#" style="background-image: url('http://www.samtpfoten-neukoelln.com/wp-content/uploads/2013/06/lilly-4.jpg')"><span>name</span></a></li>
                    <li><a href="#" style="background-image: url('http://www.samtpfoten-neukoelln.com/wp-content/uploads/2013/06/Butterfly-e1372308322902.jpg')"><span>name</span></a></li>
                    <li><a href="#" style="background-image: url('http://www.samtpfoten-neukoelln.com/wp-content/uploads/2013/07/luzifer.jpg')"><span>name</span></a></li>
                    <li><a href="#" style="background-image: url('http://www.samtpfoten-neukoelln.com/wp-content/uploads/2013/04/IMG_2596.jpg')"><span>name</span></a></li>
                    <li><a href="#" style="background-image: url('http://www.samtpfoten-neukoelln.com/wp-content/uploads/2013/04/Katinka_001.jpg')"><span>name</span></a></li>
                    <li><a href="#" style="background-image: url('http://www.samtpfoten-neukoelln.com/wp-content/uploads/2013/04/K1600_19.04.2013-512-e1367904136991.jpg')"><span>name</span></a></li>
                    <li><a href="#" style="background-image: url('http://www.samtpfoten-neukoelln.com/wp-content/uploads/2013/04/K1024_Kiana-Katinka-DSCF9330.jpg')"><span>name</span></a></li>
                    <li><a href="#" style="background-image: url('http://www.samtpfoten-neukoelln.com/wp-content/uploads/2013/09/Lissy-6.jpg')"><span>name</span></a></li>
                    <li><a href="#" style="background-image: url('http://www.samtpfoten-neukoelln.com/wp-content/uploads/2013/09/Niko_001.jpg')"><span>name</span></a></li>
                </ul>
                <footer>
                    <p>Animal images are subjects of copyright Franziskus-Tierheim, Bund gegen Missbrauch der Tiere e. V.</p>
                </footer>
            </article>
        </div>
    </body>
</html>
