* {
    font-family: 'FiraSans';
}

@font-face {
  font-family: 'FiraSans';
  src: url('fonts/FiraSans/FiraSans/FiraSans-Regular.eot');
  src: url('fonts/FiraSans/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/FiraSans/FiraSans-Regular.woff') format('woff'),
  url('fonts/FiraSans/FiraSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FiraSans';
  src: url('fonts/FiraSans/FiraSans-Light.eot');
  src: url('fonts/FiraSans/FiraSans-Light.eot?#iefix') format('embedded-opentype'),
  url('fonts/FiraSans/FiraSans-Light.woff') format('woff'),
  url('fonts/FiraSans/FiraSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'FiraSans';
  src: url('fonts/FiraSans/FiraSans-Medium.eot');
  src: url('fonts/FiraSans/FiraSans-Medium.eot?#iefix') format('embedded-opentype'),
  url('fonts/FiraSans/FiraSans-Medium.woff') format('woff'),
  url('fonts/FiraSans/FiraSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'FiraSans';
  src: url('fonts/FiraSans/FiraSans-Bold.eot');
  src: url('fonts/FiraSans/FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('fonts/FiraSans/FiraSans-Bold.woff') format('woff'),
  url('fonts/FiraSans/FiraSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

label > input[type="checkbox"] {
    display: none;
}


#gallery{
    padding-top: 80px;
}
#gallery ul {
    float: left;
    list-style: none;
}
#gallery ul li {
    display: inline-block;
    padding: 0 2px 8px 2px;
}
#gallery ul li a {
    padding: 4px;
    line-height: 1.428571429;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    width: 260px;
    height: 260px;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    -moz-background-clip: content;
    -webkit-background-clip: content;
    background-clip: content-box;
}
#gallery ul li a span {
    visibility: hidden;
}

