{{define "about-main"}}
    <body>
        <div class="pure-g-r" id="layout-with-shelters">
           {{template "page-navigation-about"}}
           {{template "navigation-shelters" .}}
           {{template "about-main-content"}}
        </div>
    </body>
{{end}}
