{{define "about-main-content"}}
    <div class="pure-u" id="about">
        <section>
            <h1>About me</h1>
            <h2>Hi. I'm Daniel Hodan and I made this site.</h2>
            <p>In short: I love animals and simplicity. Long story: I'm software developer for almost a decade and this is my experiment project taht software can be done in clear and simple design.</p>
            <p>If you want to contact me, use email adress daniel.hodan@czertbytes.de . Please consider I'm not German.</p>
        </section>
        <section>
            <h1>About this site</h1>
            <p>This site is my experiment project. I tried to collect data from animal shelters and provide them for free to everyone in formats readable for human and computers. This project is not meant to harm animal shelters rights but truly help them. Provide another channel to popularize animal adoptions and support. Because it's an experiment, sometimes a page might be a total mess or might not work in your browser. Please accept my apologies.</p>
        </section>
        <section>
            <h1>About technology</h1>
            <p>All project is done with one main rule in mind - keep it simple stupid! Simplicity and clear design is my zen! Code is written in programming language Go and data are stored in key/value storage called Redis. Source code is available on Github</p>
            <h2>Currently used technologies</h2>
            <p>Go, Redis, HTML5, GNU/Linux, DuckDuckGo Spice</p>
        </section>
    </div>
{{end}}
