{{ define "animal" }}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {{with .Shelter}}
            {{with .PBShelter}}
                <title>TierheimDB &mdash; {{.Name}}</title>
            {{end}}
        {{end}}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Bowlby+One+SC' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/s/pure-min.css">
        <link rel="stylesheet" href="/s/tierheimdb.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="pure-g-r" id="layout-with-shelters">
            <div class="pure-u" id="main-nav">
                <a href="#" class="nav-menu-button">Menu</a>
                <div>
                    <a href="/"><h1>TDB</h1></a>
                    <nav class="pure-menu pure-menu-open">
                        <ul>
                            <li><a class="selected" href="/">Shelters</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="pure-u-1" id="shelters">
                {{with .Shelters}}
                    {{range .}}
                        {{$selected := .Selected}}
                        {{with .PBShelter}}
                            <a href="/{{.Id}}" class="pure-g">
                                <section {{if $selected}}class="selected" {{end}}>
                                    <div class="pure-u">
                                        <img src="{{.LogoURL}}" alt="{{.Name}}">
                                    </div>
                                    <div class="pure-u-3-4">
                                        <h4>{{.FullName}}</h4>
                                        <div class="city">{{.City}}</div>
                        {{end}}
                        {{with .PBUpdate}}
                                        <div class="offers">Offers <span>{{.Cats}} cats</span> and <span>{{.Dogs}} dogs</span>.</div>
                        {{end}}
                                    </div>
                                </section>
                            </a>
                    {{end}}
                {{end}}
            </div>
            <article class="pure-u-1" id="content">
                <header>
                    <div class="pure-g">
                        {{with .Animal}}
                        <div class="pure-u-1-2">
                            <h1><a href="{{.URL}}" target="_blank">{{.Name}}</a></h1>
                        </div>
                        <div class="pure-u-1-2">
                        </div>
                        {{end}}
                    </div>
                </header>
                {{with .Animal}}
                    <p>{{.LongDesc}}</p>
                    <ul>
                        {{$name := .Name}}
                        {{$shelterId := .ShelterId}}
                        {{$updateId := .UpdateId}}
                        {{$animalId := .Id}}
                        {{range $index, $img := .Images}}
                            <li><a href="/{{$shelterId}}/{{$updateId}}/{{$animalId}}" style="background-image: url({{$img.URL}})"><span>{{$name}}</span></a></li>
                        {{end}}
                    </ul>
                {{end}}
                <footer>
                    {{with .Shelter}}
                        {{with .PBShelter}}
                            <p>Animal images are subjects of copyright {{.FullName}}.</p>
                        {{end}}
                    {{end}}
                </footer>
            </article>
        </div>
    </body>
</html>
{{end}}
