{{define "animal-content-body"}}
    {{with .Animal}}
        <p>{{.LongDesc}}</p>
        <p><a href={{.URL}} class="pure-button" target="_blank">Show {{.Name}} in shelter page</a></p>
        <ul>
            {{$name := .Name}}
            {{range $index, $img := .Images}}
                <li><a href="{{$img.URL}}" style="background-image: url({{$img.URL}})" target="_blank"><span>{{$name}}</span></a></li>
            {{end}}
        </ul>
    {{end}}
{{end}}
