{{define "animal-content"}}
    <article class="pure-u-1" id="content">
        {{template "animal-content-header" .}}
        {{template "animal-content-body" .}}
        {{template "animal-content-footer" .}}
    </article>
{{end}}
