{{define "contact-main"}}
    <body>
        <div class="pure-g-r" id="layout-with-shelters">
           {{template "page-navigation-contact"}}
           {{template "navigation-shelters" .}}
           {{template "contact-main-content"}}
        </div>
    </body>
{{end}}
