{{define "contact-main"}}
    <body>
        <div class="pure-g-r" id="layout">
           {{template "page-navigation-contact"}}
           {{template "contact-main-content"}}
        </div>
    </body>
{{end}}
