{{define "contact-main-content"}}
    <div class="pure-u">
        <h1>Contact</h1>
        emaildaniel.hodan@czertbytes.de
        Daniel Hodan
        SchererStr 11
        13347 Berlin
    </div>
{{end}}
