{{define "home-main-content"}}
    <h2>TierheimDB is a micro-platform for everybody who wants to help animals from animal shelters to find a new home.</h2>
    <h3>TierheimDB is based on three pillars</h3>
    <dl>
        <dt>Provide animal shelters data for everyone in human and computer friendly formats</dt>
        <dd>Use some of our app like API, Web apps, Mobile apps, DDG Spice and many others</dd>
        <dt>Build apps propagating animals from animal shelters</dt>
        <dd>Unleash your creativity with our public API, every app helps</dd>
        <dt>Always be open source, free and without ads</dt>
        <dd>Licence GPLv3 means what everybody is free to use platform for anything without paying anyone a licence fee</dd>
    </dl>
{{end}}
