{{define "home-main-content"}}
    <div class="pure-u">
        <div id="hero">
            <h1>TierheimDB</h1>
            <h2>TierheimDB is a micro-platform for everybody who wants to help animals to find a new home.</h2>
        </div>
        <div id="marketing">
            <section>
                <h3>Data for everyone</h3>
                <p>Animal shelters data for everyone in human and computer friendly formats.</p>
            </section>
            <section>
                <h3>Spread</h3>
                <p>Build apps propagating animals from animal shelters. Unleash your creativity with our public API, every app helps.</p>
            </section>
            <section>
                <h3>Free and open</h3>
                <p>Our mission is to be be open source, free and without ads - always!</p>
            </section>
        </div>
    </div>
{{end}}
