{{define "home-main-content"}}
    <div class="pure-u">
        <div id="hero">
            <h1>TierheimDB</h1>
            <h2>TierheimDB is a micro-platform for everybody who wants to help animals to find a new home.</h2>
        </div>
        <div id="marketing">
            <section>
                <h3>Data for everyone</h3>
                <p>We provide animal shelters data for everyone in human and computer friendly formats. For human we have web applications like this one, for computers we have RESTful API returning JSON. For more detail about API read documentation <here>.</p>
            </section>
            <section>
                <h3>Spread</h3>
                <p>Build apps propagating animals from animal shelters. Unleash your creativity with our public API, every app helps.</p>
            </section>
            <section>
                <h3>Free and open</h3>
                <p>Our mission is to be be open source, free and without ads - always! Licence GPLv3 means what everybody is free to use platform for anything without paying anyone a licence fee.</p>
            </section>
        </div>
    </div>
{{end}}
