{{ define "index" }}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TierheimDB &mdash; {{.ShelterName}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Bowlby+One+SC' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/s/pure-min.css">
        <link rel="stylesheet" href="/s/tierheimdb.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="pure-g-r" id="layout-with-shelters">
            <div class="pure-u" id="main-nav">
                <a href="#" class="nav-menu-button">Menu</a>
                <div>
                    <h1>TDB</h1>
                    <nav class="pure-menu pure-menu-open">
                        <ul>
                            <li><a class="selected" href="#">Shelters</a></li>
                            <li><a href="#">Mission</a></li>
                            <li><a href="#">About</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="pure-u-1" id="shelters">
                {{with .Shelters}}
                    {{range .}}
                    <a href="#" class="pure-g">
                        <section>
                            {{$cats := .Cats}}
                            {{$dogs := .Dogs}}
                            {{with .Shelter}}
                            <div class="pure-u">
                                <img src="{{.LogoURL}}" alt="{{.Name}}">
                            </div>
                            <div class="pure-u-3-4">
                                <h4>{{.FullName}}</h4>
                                <div class="city">{{.City}}</div>
                                <div class="offers">Offers <span>{{$cats}} cats</span>.</div>
                            </div>
                            {{end}}
                        </section>
                    </a>
                    {{end}}
                {{end}}
            </div>
            <article class="pure-u-1" id="content">
                <header>
                    <div class="pure-g">
                        <div class="pure-u-1-2">
                            <h1><a href="http://www.franziskustierheim.de" target="_blank">Franziskus-Tierheim</a></h1>
                            <p>Updated at 14:34, today</p>
                        </div>
                        <div class="pure-u-1-2">
                            <a class="pure-button" href="#">Cats</a>
                            <a class="pure-button" href="#">Dogs</a>
                            <a class="pure-button" href="#">All</a>
                        </div>
                    </div>
                </header>
                <ul>
                    {{with .Animals}}
                        {{range .}}
                        <li>
                        {{$name := .Name}}
                        {{$shelterId := .ShelterId}}
                        {{$updateId := .UpdateId}}
                        {{$animalId := .Id}}
                        {{range $index, $img := .Images}}
                            {{if not $index }}
                            <a href="/{{$shelterId}}/{{$updateId}}/{{$animalId}}" style="background-image: url({{$img.URL}})"><span>{{$name}}</span></a>
                            {{end}}
                        {{end}}
                        </li>
                        {{end}}
                    {{end}}
                </ul>
                <footer>
                    <p>Animal images are subjects of copyright {{.SelectedShelter}}.</p>
                </footer>
            </article>
        </div>
    </body>
</html>
{{end}}
