<!DOCTYPE html>
<html lang="en" ng-app="tdb">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/s/favicon.png">
    <title>TierheimDB</title>
    <link href="/s/bootstrap.min.css" rel="stylesheet">
    <link href="/s/tierheimdb.css" rel="stylesheet">
  </head>
  <body ng-controller="AnimalListCtrl" ng-init="init()">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">TierheimDB</a>
        </div>
        <div class="navbar-collapse collapse">
            <form class="navbar-form navbar-left" role="search">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        {{currentCity}}<span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="city in cities">
                            <a href="#" ng-click="setCurrentCity(city)">{{city}}</a>
                        </li>
                      </ul>
                </div>
                <div class="btn-group">
                    <label class="btn btn-primary" ng-class="{active: typeFilter.cats==true}">
                        <input type="checkbox" ng-model="typeFilter.cats">{{cats}} Katzen
                    </label>
                    <label class="btn btn-primary" ng-class="{active: typeFilter.dogs==true}">
                        <input type="checkbox" ng-model="typeFilter.dogs">{{dogs}} Hunde
                    </label>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Docs</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
        <div id="gallery">
            <ul infinite-scroll='fetchNextAnimals()' infinite-scroll-disabled='busy' infinite-scroll-distance='0'>
                <li ng-repeat="animal in animals">
                <a href="/{{animal.shelterId}}/{{animal.updateId}}/{{animal.id}}" style="background-image: url('{{animal.images[0].url}}')"><span>{{animal.name}}</span></a>
                </li>
            </ul>
            <p ng-show='busy'>Loading animals ...</p>
        </div>
    </div>

    <script src="/s/jquery.min.js"></script>
    <script src="/s/bootstrap.min.js"></script>
    <script src="/s/angular.min.js"></script>
    <script src="/s/tierheimdb.js"></script>
    <script src="/s/infscroll.js"></script>
  </body>
</html>

