{{define "page-navigation-contact"}}
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="pure-u" id="main-nav">
        <a href="#" class="nav-menu-button">Menu</a>
        <div>
            <a href="/"><h1>TDB</h1></a>
            <nav class="pure-menu pure-menu-open">
                <ul>
                    <li><a href="/">Shelters</a></li>
                    <li><a class="selected" href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
{{end}}
