{{define "shelter-content"}}
    <article class="pure-u-1" id="content">
        {{template "shelter-content-header" .}}
        {{template "shelter-content-body" .}}
        {{template "shelter-content-footer" .}}
    </article>
{{end}}
