{{define "shelter-content-footer"}}
    <footer>
        {{with .Shelter}}
            {{with .PBShelter}}
                <p>Animal images are subjects of copyright {{.FullName}}.</p>
            {{end}}
        {{end}}
    </footer>
{{end}}
