<div class="container" ng-controller="BrowserCtrl" ng-init="init()">
  <div class="row">
    <div class="col-lg-12">
      <div id="browser">
        <ul infinite-scroll="fetchNext()" infinite-scroll-disabled="busy" infinite-scroll-distance="0">
          <li ng-repeat="animal in animals">
            <a ng-href="/{{animal.shelterId}}/{{animal.updateId}}/{{animal.id}}" style="background-image: url('{{animal.images[0].url}}')"><span>{{animal.name}}</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div id="fadingBarsG" class="center-block busy" ng-show="busy">
        <div id="fadingBarsG_1" class="fadingBarsG"></div>
        <div id="fadingBarsG_2" class="fadingBarsG"></div>
        <div id="fadingBarsG_3" class="fadingBarsG"></div>
        <div id="fadingBarsG_4" class="fadingBarsG"></div>
        <div id="fadingBarsG_5" class="fadingBarsG"></div>
        <div id="fadingBarsG_6" class="fadingBarsG"></div>
        <div id="fadingBarsG_7" class="fadingBarsG"></div>
        <div id="fadingBarsG_8" class="fadingBarsG"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="footer">
        <small>Animal images and related text are subjects of copyright {{copyrightOwners()}}</small>
      </div>
    </div>
  </div>
</div>
